/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh; /* 100% viewport height to stretch body larger than the height of the screen when there is enough content on the page that the user needs to scroll */
    display: flex;
    flex-direction: column; /* column makes elements display underneath each other */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

/* Header */
header { 
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%; /* this is needed because the fixed position causes the header to only take up the width of the content not entire width */
    box-shadow: 0 2px 2px #3a3a3a; /* horizontal offset, vertical offset, blur, color */
    display: flex; /* makes love running logo and checkbox show in a side by side as flex direction default is row */
    justify-content: space-between; /* adds space between love running and checkbox */
    align-items: baseline; /* to align vertically */
}

header a {
    text-decoration: none; /*removes default styling for anchor (underline and blue color) */
    color: inherit; /* inherits text color from body */
}
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none; /* removes bulletpoints */
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%; /* tells the top of the nav element to start at the bottom of its parent element (header) ~ both are flex so nav follows header */   
}

/* Nav toggle */
#nav-toggle:checked~nav { /* using a pseudo class to say when #nav-toggle is checked (its id for checkbox) target the adjoining nav element (tilde tells css to target the sibling element (nav in this case) */
    display: block;
}

#nav-toggle {
    display: none; /* checkbox no longer displays */
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content*/
main {
    background-color: lightblue;
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px; /* via dev tools saw that the header was 47px and was covering the main section, so margin top pushes the content down, starting main 47px from the top */
}

/* Footer */
footer {
    background-color: orange;
}

/* Media query: tablets and larger (768px and up, css written here will only apply for 768px upwards*/
@media screen and (min-width: 768px) {
    /* header */
    nav {
        display: block; /* makes sure nav bar is always displayed */
        position: relative; /* puts it back inside the header */
        box-shadow: none;
        width: fit-content; /* so it doesnt take up all the space in the header, allows flex styles from earlier to push it to the right */
        padding-right: 1rem; /* so nav menu items don't stick to right */   
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px; /* gives it more space at the top */
        margin: 0 0.5rem; 
    }

    /* main content */
        main {
        margin-top: 79px; /* again using dev tools, header is 79px at this screen size, covering the main content so push main down 79px so its visible */
    }
 }
 
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
 }