/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh; /* 100% viewport height to stretch body larger than the height of the screen when there is enough content on the page that the user needs to scroll */
    display: flex;
    flex-direction: column; /* column makes elements display underneath each other */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}

/* Header */
header { 
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%; /* this is needed because the fixed position causes the header to only take up the width of the content not entire width */
    box-shadow: 0 2px 2px #3a3a3a; /* horizontal offset, vertical offset, blur, color */
}

header a {
    text-decoration: none; /*removes default styling for anchor (underline and blue color) */
    color: inherit; /* inherits text color from body */
}
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none; /* removes bulletpoints */
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Main content*/
main {
    background-color: lightblue;
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}
